<!DOCTYPE html>
<html lang='en'>

<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="/css/styles.css">
	<title>Collaborative Whiteboard</title>
	
</head>

<body>
	<header>
		<nav class="navbar navbar-fixed-top navbar-inverse">
			<div class="container-fluid">

			<div class="navbar-header">
			<a class="navbar-brand" href="/about">Collaborative Whiteboard</a>
			</div>

			<form class="form-inline">
			<%- defineContent('navBarColor') %>

			<!--<ul class="nav navbar-nav navbar-right">

				<li class="btn"></li>
				<li><a href="/about"><span class="glyphicon glyphicon-user">
				</span>About</a></li>
			</ul>-->
			</form>
			</div>
			
		</nav>
	</header>
	<%- defineContent('body') %>
</body>			
	<%- defineContent('script') %>

</html>