head {
  position: fixed;
}

body {
  background-color: gray;
}

.btn-xlarge {
  padding: 20px 28px;
  font-size: 24px; //change this to your desired size
  line-height: normal;
  -webkit-border-radius: 8px;
     -moz-border-radius: 8px;
          border-radius: 8px;
}

.btn.navbar-btn.black { 
background-color: #555555;
color: white;
}

.btn.navbar-btn.blue {
background-color: #33b5e5;
}

.btn.navbar-btn.red {
background-color: #ff4444; 
}

.btn.navbar-btn.green {
background-color: #00C851;
}

.btn.navbar-btn.yellow {
background-color: #ffbb33;
}

.whiteboard {
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;

  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: white;
}

.jumbotron {
  margin-top: 75px;
}

.navbar-right {
  padding-right: 10px;
}

html {
  position: relative;
  min-height: 100%;
  max-height: 100%;
}