<%- contentFor('body') %>

<section class="body">
	<!--do some stuff for about.html here-->
	<div class="container">
	<div class="jumbotron">
		<h1 class="display-3">Collaborative Whiteboard!</h1>
		<p class="lead">Made by Lim Shan Jing, for GET1033 final project component.</p>
		<a href="/" class="btn btn-success btn-xlarge">Click me to go back to the whiteboard!</a>
		
		<hr class="my-4">
		<p>Credits to:

		<dl>
			<dt>Building a node.js website</dt>
			<dd> - https://scotch.io/courses/build-a-nodejs-website/course-introduction</dd>
			<dt>Socket.io (handles connection from client to server)</dt>
			<dd> - https://github.com/socketio/socket.io</dd>
			<dt>Using Socket.io together with express</dt>
			<dd> - http://www.programwitherik.com/socket-io-tutorial-with-node-js-and-express/</dd>
			<dt>Socket.io collaborative whiteboard example</dt>
			<dd> - https://github.com/socketio/socket.io/tree/master/examples/whiteboard</dd>
			<dt>Creating a web based drawing application</dt>
			<dd> - https://code.tutsplus.com/tutorials/how-to-create-a-web-based-drawing-application-using-canvas--net-14288</dd>
			<dt>useImageData to preserve a canvas image</dt>
			<dd> - https://developer.mozilla.org/en-US/docs/Web/API/CanvasRenderingContext2D/putImageData</dd>
			<dt>Bootstrap UI</dt>
			<dd> - http://getbootstrap.com/docs/4.0/getting-started/introduction/</dd>
			<dd> - http://blog.getbootstrap.com/2016/07/25/bootstrap-3-3-7-released/</dd>
			<dt>Download tag for html</dt>
			<dd> - https://www.w3schools.com/tags/att_a_download.asp</dd>
			<dt>Touch event handling</dt>
			<dd> - http://bencentra.com/code/2014/12/05/html5-canvas-touch-events.html</dd>
			<dt>Colour picker API</dt>
			<dd> - http://jscolor.com/</dd>
			<dt>Github</dt>
			<dd> - https://github.com/</dd>
			<dt>Heroku</dt>
			<dd> - https://www.heroku.com/</dd>
		</dl>
		
		<hr class="my-4">
		<a href="https://github.com/shanjing012/shanjing012.github.io" class="btn btn-success btn-lg">Github</a>
		<h7>Click here for the Github repository! (Documentation here!)</h7>

		<hr class="my-4">
		<h7> <a rel="license" href="http://creativecommons.org/licenses/by/4.0/"> <img alt="Creative Commons License" style="border-width:0" src="https://i.creativecommons.org/l/by/4.0/88x31.png" /></a> This work is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by/4.0/">Creative Commons Attribution 4.0 International License</a> </h7>
		</p>
		</div>
	</div>

</section>