<%- contentFor('body') %>
<container>
<canvas class="whiteboard" width="1024" height="576" background="white"></canvas>
</container>

<%- contentFor('navBarColor') %>

<div class="collapse navbar-collapse" id="myNavbar">
	<form class="form-inline">

		<button
		    class="btn navbar-btn jscolor {valueElement:null,value:'0000FF',zIndex:9999}" name="colourpicker">
		    Choose a Colour!
		</button>

		<button type="button" class="btn navbar-btn btn-default" name="eraser">Eraser!</button>

		<div class="btn-group" role="group">
			<button type="button" class="btn btn-default navbar-btn -" aria-label="Up" name="brushDown">
				<span class="glyphicon glyphicon-triangle-bottom"></span>
			</button>
			<button type="button" class="btn btn-default navbar-btn disabled" name="brushSize">
				Brush Size: 2
			</button>
			<button type="button" class="btn btn-default navbar-btn +" aria-label="Down" name="brushUp">
				<span class="glyphicon glyphicon-triangle-top"></span>
			</button>
		</div>

		<div class="btn-group navbar-right" role="group">
			<a type="button" class="btn navbar-btn btn-success" name="download">
				Download JPEG!
			</a>
		</div>

	</form>
</div>



<%- contentFor('script') %>
<script src = "/socket.io/socket.io.js"></script>
<script>
	//creates a socket and allows interaction with server
	var socket = io();
	//run canvas.js
</script>

<!-- my canvas javascript-->
<script src="/javascript/canvas.js"></script>
<!-- colourpicker -->
<script src="/javascript/jscolor.js"></script>